@use "../../../variables" as *;

section {
    justify-content: space-evenly;
    margin-inline: 5rem;

    &.bunny-facts {
        font-style: italic;
        color: $cinnamon-toast;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
}
