@use "variables" as *;

section {
    justify-content: space-evenly;
    margin-inline: 10rem;

    &.bunny-facts {
        font-style: italic;
        color: $cinnamon-toast;
        text-align: center;
    }
}

.iframe-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;

    .iframe-spinner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }
}



@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    section {
        margin-inline: 2rem;
    }
}