<app-loader *ngIf="loading"></app-loader>

<header class="flex row">
    <h2>
        {{ header }} <br />
        {{ name }}
    </h2>
    <img src="images/characters/arianna.png" alt="" class="home-img" />
</header>

<main>
    <h3>{{ mainTitle }}</h3>
    <section class="flex row featured-sections">
        <button class="card clickable featured" routerLink="/about-me">
            About Me
        </button>
        <section class="flex row cozy-corner-favorites">
            <button class="card clickable featured" routerLink="/favorites">
                Favorites
            </button>
            <button class="card clickable featured" routerLink="/cozy-corner">
                Cozy Corner
            </button>
        </section>
    </section>
</main>