<header class="header">
    <h1>
        <a routerLink="/" routerLinkActive="active"> {{ title }} </a>
    </h1>
    <nav class="navbar">
        <ul class="nav-list">
            @for (navUrl of navUrls; track navUrl.path) {
                <li>
                    <a [routerLink]="navUrl.path" routerLinkActive="active">
                        {{ navUrl.label }}
                    </a>
                </li>
            }
        </ul>
    </nav>
</header>
<main>
    <router-outlet />
</main>
<footer>
    <p> {{ footerText }} {{ currentDate | date }} </p>
</footer>
