@use "../../../variables" as *;

section {
    justify-content: space-evenly;
    margin-inline: 5rem;

    &.bunny-facts {
        font-style: italic;
        color: $cinnamon-toast;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }

    section {
        margin-inline: 2rem;
    }
}

button {
    border: none;
    background: none;
    cursor: pointer;

    img {
        width: 1rem;
    }
}

.copy-icon {
    transition: transform 0.1s ease, filter 0.1s ease;
}

.copy-icon:hover {
    transform: scale(1.2);
    filter: brightness(0) saturate(200%) contrast(300%);
}