h3 {
    margin-top: 0;
}

img {
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 100%;
}

h5 {
    margin-top: 0;
}

.hall-of-fame {
    margin-inline: 5rem;
}

.card {
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .hall-of-fame {
        flex-direction: column;
        margin-inline: 1rem;

        .card {
            width: 80%;
        }
    }
}
