@use "variables" as *;

ol.list {
    counter-reset: myCounter 1;
    margin: 0;

    li {
        font-size: 0.8rem;
        padding-bottom: 1rem;

        &::before {
            counter-increment: myCounter;
            /* Increments 'myCounter' by 1 */
            content: counter(myCounter) ". ";
        }
    }
}

h3 {
    margin-top: 0;
    font-size: 1.2rem;
}

img {
    border-radius: 0.5rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    max-width: 100%;
}

h5 {
    margin-top: 0;
}

.hall-of-fame {
    align-items: start;
    margin-inline: 5rem;
}

.dialog-buttons {
    align-items: center;
        margin-inline: 5rem;
}

.card {
    align-items: center;

    &-blank {
        background-color: none;
        margin: 0;
        padding: 0;
        width: 100%;
        box-shadow: none;
        text-align: left;
        align-items: center;

        & * {
            width: auto;
        }

        & & {
            margin: 0 1rem 1rem 1rem;
            padding: 0;
        }
    }

    &-secondary.clickable {
        &.blue {
            $h: 195;
            $s: 53%;
            $l: 90%;
            background-color: hsl($h, $s, $l);

            &:hover {
                $l: $l - 10;
                background-color: hsl($h, $s, $l);
            }
        }

        &.pink {
            $h: 354;
            $s: 76%;
            $l: 90%;
            background-color: hsl($h, $s, $l);

            &:hover {
                $l: $l - 10;
                background-color: hsl($h, $s, $l);
            }
        }

        &.purple {
            $h: 255;
            $s: 27%;
            $l: 90%;
            background-color: hsl($h, $s, $l);

            &:hover {
                $l: $l - 10;
                background-color: hsl($h, $s, $l);
            }
        }

        &.green {
            $h: 159;
            $s: 50%;
            $l: 90%;
            background-color: hsl($h, $s, $l);

            &:hover {
                $l: $l - 10;
                background-color: hsl($h, $s, $l);
            }
        }

        ul {
            margin: 0;
            width: auto;

            li {
                list-style-type: disc;
                font-size: 0.9rem;
                padding: 0;
            }
        }
    }
}

.dialog {
    &.blue {
        $h: 195;
        $s: 53%;
        $l: 95%;
        background-color: hsl($h, $s, $l);

        h4 {
            $l: $l - 40;
            color: hsl($h, $s, $l);
        }
    }

    &.pink {
        $h: 354;
        $s: 76%;
        $l: 95%;
        background-color: hsl($h, $s, $l);

        h4 {
            $l: $l - 40;
            color: hsl($h, $s, $l);
        }
    }

    &.yellow {
        $h: 39;
        $s: 100%;
        $l: 95%;
        background-color: hsl($h, $s, $l);

        h4 {
            $l: $l - 40;
            color: hsl($h, $s, $l);
        }

        li {
            margin-bottom: 1rem;
        }
    }

    &.purple {
        $h: 255;
        $s: 27%;
        $l: 95%;
        background-color: hsl($h, $s, $l);

        h4 {
            $l: $l - 40;
            color: hsl($h, $s, $l);
        }

    }

    &.green {
        $h: 159;
        $s: 50%;
        $l: 95%;
        background-color: hsl($h, $s, $l);

        h4 {
            $l: $l - 40;
            color: hsl($h, $s, $l);
        }

    }

    li {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .hall-of-fame, .dialog-buttons {
        flex-direction: column;
        margin-inline: 1rem;

        .card {
            width: 80%;
        }
    }

    .dialog {
        border-radius: 0.5rem;
        padding: 1.5rem;
        max-width: 75%;
        max-height: 75%;

        .dialog-content {
            h4 {
                font-size: 1.5rem;
            }
        }
    }
}