@use "../../../../variables" as *;

h3 {
    font-size: 2rem;
    color: $blue-dark;
}

section {
    margin: 2rem 5rem;
}

.error {
    color: red;
    font-weight: bold;
}

table,
th,
td {
    border: 2px solid $purple-dark;
}

table {
    background-color: $purple-dark;
    border-radius: 0.2rem;
    width: 70%;

    th,
    td {
        padding: 0.7rem;
    }

    th {
        background-color: $pink-light;
    }

    td {
        background-color: $white;

        img {
            max-height: 10rem;
        }
    }
}

@media only screen and (max-width: 600px) {

    section {
        margin: 0;
    }

    table {
        th,
        td {
            font-size: 0.7rem;
            max-width: 5rem;
            padding: 0.25rem;
        }

        img {
            max-width: 100%;
        }
    }
}
