// Colors
$white: #FCFCFC;
$black: #7A7A7A;    // readable but gentle text, especially body
$yellow: #FFE5B4;   // hover effects or subtle section dividers
$green: #C7F2E3;    // indicators or success messages
$blue: #CFE8FF;     // links, borders, or tooltip backgrounds
$purple: #D9D4E7;   // overall background or card containers
$pink: #FADADD;     // action buttons, selected tags, or highlights
$pink-med: #f2bfc5;
$pink-dark: #f3a5ad;

// Fonts
$header-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
