// Colors
$white: #FCFCFC;
$black: #7A7A7A;    // readable but gentle text, especially body
$yellow: hsl(39, 100%, 85%);   // hover effects or subtle section dividers
$yellow-dark: hsl(39, 100%, 75%);
$green: hsl(159, 62%, 86%);    // indicators or success messages
$blue: #CFE8FF;     // links, borders, or tooltip backgrounds
$blue-dark: #66b5ff;
$purple: hsl(255, 27%, 80%);   // overall background or card containers
$pink-light: #fdedef;
$pink: hsl(354, 76%, 92%);     // action buttons, selected tags, or highlights
$pink-med: #f2bfc5;
$pink-dark: #f3a5ad;

// Fonts
$header-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$body-font: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
$shadow: 0 4px 8px rgba(0, 0, 0, 0.05);

$card-color: $yellow;
$h: 39;
$s: 100%;
$l: 85%;
