<header class="flex row">
    <img src="images/characters/arianna_about_me.png" alt="" />
    <h2>
        I like music, animals, <br /> and finding joy <br />in little things.
    </h2>
</header>

<main class="flex row center personality">
    <section class="flex row center card">
        <ul class="flex row list personality-list">
            @for (type of personality; track type) {
                <li>{{ type }}</li>
            }
        </ul>
    </section>
</main>

<section>
    <h2>I'm {{ age }}, and I'm a {{ occupation }}!</h2>
</section>

<section class="flex row dialog-buttons">
    <button class="card clickable" (click)="openDialog('Fun Facts', funFacts)">
        Fun Facts
    </button>
    <button
        class="card clickable"
        (click)="openDialog('Skills and Hobbies', skillsHobbies)"
    >
        My Skills and Hobbies
    </button>
</section>

<dialog #aboutMeDialog class="dialog" (close)="onDialogClose()">
    <form>
        <button type="button" class="close-btn" (click)="closeWithAnimation()">
            ✖
        </button>
    </form>

    <section class="dialog-content">
        <h4>{{ dialogTitle }}</h4>
        <ul class="list">
            @for (item of dialogItems; track item) {
                <li>{{ item }}</li>
            }
        </ul>
    </section>
</dialog>