@use "variables" as *;

header {
    justify-content: space-evenly;
    align-items: center;
    height: 25rem;
    padding: 1rem 0;

    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
    }

    h2 {
        font-size: 3rem;
    }
}

.personality-list {
    gap: 2rem;
}

.dialog-buttons {
    justify-content: center;
    margin-top: 1rem;
    gap: 5rem;

    button {
        width: 30%;
        height: 10rem;
    }
}

.dialog-content li {
    margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
    header {
        flex-direction: column;
        height: auto;

        h2 {
            font-size: 2rem;
            margin-bottom: 1rem;
            padding: 0 1rem;
        }

        img {
            width: 80%;
        }
    }

    main {
        width: 90%;
        margin: auto;

        .list {
            gap: 1rem;

            li {
                font-size: 0.9rem;
            }
        }

        section {
            width: 100%;
        }
    }

    .dialog-buttons {
        align-items: center;
        flex-direction: column;
        width: 100%;
        gap: 0;

        button {
            width: 80%;
        }
    }
}