<header class="flex">
    <img src="images/arianna_about_me.png" alt="" />
    <h2>
        I like music, cozy <br />games, and finding joy <br />in little things.
    </h2>
</header>

<main class="flex center">
    <section class="flex center card">
        <ul class="row list">
            @for (type of personality; track type) {
                <li>{{ type }}</li>
            }
        </ul>
    </section>
</main>

<app-crew></app-crew>

<section class="flex dialog-buttons">
    <button class="card clickable" (click)="openDialog('funFacts')">Fun Facts</button>
    <button class="card clickable" (click)="openDialog('skillsHobbies')">My Skills and Hobbies</button>
</section>


<dialog #funFactsDialog class="dialog" (close)="onDialogClose('funFacts')">
    <form>
        <button type="button" class="close-btn" (click)="closeWithAnimation('funFacts')">✖</button>
    </form>

    <section class="dialog-content">
        <h4>Fun Facts About Me!</h4>
        <ul class="list">
            @for (fact of funFacts; track fact) {
                <li>{{ fact }}</li>
                <br>
            }
        </ul>
    </section>
</dialog>

<dialog #skillsHobbiesDialog class="dialog" (close)="onDialogClose('skillsHobbies')">
    <form>
        <button type="button" class="close-btn" (click)="closeWithAnimation('skillsHobbies')">✖</button>
    </form>

    <section class="dialog-content">
        <h4>My Skills and Hobbies!</h4>
        <ul class="list">
            @for (skillHobby of skillsHobbies; track skillHobby) {
                <li>{{ skillHobby }}</li>
                <br>
            }
        </ul>
    </section>
</dialog>
