<header class="flex">
    <img src="images/arianna_about_me.png" alt="" />
    <h2>
        I like music, cozy <br />games, and finding joy <br />in little things.
    </h2>
</header>

<main class="flex center">
    <section class="flex center card">
        <ul class="row list">
            @for (type of personality; track type) {
                <li>{{ type }}</li>
            }
        </ul>
    </section>
</main>

<app-crew></app-crew>

<button class="card clickable" (click)="openDialog()">Fun Facts</button>

<dialog #funFactsDialog class="fun-facts-dialog" (close)="onDialogClose()">
    <form method="dialog">
        <button class="close-btn" (click)="closeWithAnimation()">✖</button>
    </form>

    <section class="fun-facts">
        <h4>Fun Facts About Me!</h4>
        <ul class="list">
            @for (fact of funFacts; track fact) {
                <li>{{ fact }}</li>
                <br>
            }
        </ul>
    </section>
</dialog>
